---
import { getCollection, render } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import { formatDate, getReadingTime } from "../../utils/md";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post, readingTime: getReadingTime(post.body) },
    };
  });
}

const { post, readingTime } = Astro.props;

const { Content } = await render(post);

const formattedPublishDate = formatDate(post.data.publishDate);

const formattedUpdatedDate = post.data.updatedDate
  ? formatDate(post.data.updatedDate)
  : null;
---

<Layout
  title={`jimmy.codes | ${post.data.title}`}
  description={post.data.description}
  keywords={post.data.keywords}
>
  <main
    class="mx-auto w-full max-w-3xl space-y-8 px-4 py-12 [view-transition-name:main]"
  >
    <section class="prose xl:prose-lg">
      <header>
        <h1 class="[view-transition-name:title]">{post.data.title}</h1>
        <blockquote class="text-base-content/80 not-italic">
          {post.data.description}
        </blockquote>
        <p class="text-sm">
          <time datetime={post.data.publishDate.toISOString()}
            >{formattedPublishDate}</time
          >
          {
            post.data.updatedDate && (
              <>
                {" "}
                •
                <time datetime={post.data.updatedDate.toISOString()}>
                  Updated {formattedUpdatedDate}
                </time>
              </>
            )
          }
          • <span>{readingTime} Min Read</span>
        </p>
      </header>

      <div class="divider"></div>

      <article>
        <Content />
      </article>

      <p>Thank you for reading ❤️</p>

      <div class="divider"></div>

      <div class="flex flex-wrap gap-2">
        {
          post.data.keywords.map((keyword) => (
            <span class="badge">{keyword.trim()}</span>
          ))
        }
      </div>

      <p>
        <a href="/blog">← Back to all posts</a>
      </p>
    </section>
  </main>
</Layout>
