---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import { readingTime, sortByPublishDate } from "../utils/md";
import PageLayout from "../layouts/PageLayout.astro";
import { pages } from "../configs/pages";
import MetaLine from "../components/MetaLine.astro";

const posts = (await getCollection("posts")).sort(sortByPublishDate);
---

<BaseLayout
  title={pages.blog.title}
  description={pages.blog.description}
  keywords={pages.blog.keywords}
>
  <PageLayout heading={pages.blog.heading}>
    <section class="not-prose">
      <ul class="flex flex-col gap-y-4">
        {
          posts.map((post) => (
            <li class="space-y-0.5">
              <a
                href={`/blog/${post.slug}`}
                class="link font-medium link-hover"
                rel="bookmark"
                data-astro-prefetch
              >
                {post.data.heading ?? post.data.title}
              </a>
              <MetaLine
                class="block text-sm text-base-content/60"
                publishDate={post.data.publishDate}
                updatedDate={post.data.updatedDate}
                minutes={readingTime(post.body)}
                filePath={post.filePath}
              />
            </li>
          ))
        }
      </ul>
    </section>
  </PageLayout>
</BaseLayout>
