---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import { formatDate, getReadingTime } from "../utils/md";
import PageLayout from "../layouts/PageLayout.astro";

const posts = (await getCollection("posts"))
  .sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime())
  .map((post) => {
    return {
      ...post,
      readingTime: getReadingTime(post.body),
    };
  });

const description =
  "Articles on the craft of building software, architecture, system design, code, and developer experience.";
---

<BaseLayout
  title="jimmy.codes | Blog"
  description={description}
  keywords={[
    "jimmy guzman blog",
    "technical articles",
    "scalable systems",
    "developer experience",
    "engineering leadership",
    "typescript",
    "react",
    "nextjs",
    "astro",
    "web development",
    "software architecture",
    "mentorship",
  ]}
>
  <PageLayout heading="Blog">
    <section class="not-prose">
      <ul class="flex flex-col gap-y-4">
        {
          posts.map((post) => (
            <li class="space-y-0.5">
              <a
                href={`/blog/${post.slug}`}
                class="link font-medium link-hover"
                data-astro-prefetch
              >
                {post.data.title}
              </a>
              <span class="block text-sm text-base-content/60">
                <time datetime={post.data.publishDate.toISOString()}>
                  {formatDate(post.data.publishDate)}
                </time>
                {post.data.updatedDate && (
                  <>
                    {" "}
                    •
                    <time datetime={post.data.updatedDate.toISOString()}>
                      Updated {formatDate(post.data.updatedDate)}
                    </time>
                  </>
                )}
                • <span>{post.readingTime} Min Read</span>
              </span>
            </li>
          ))
        }
      </ul>
    </section>
  </PageLayout>
</BaseLayout>
