---
import { pages } from "@/configs/pages";
import { urls } from "@/configs/urls";
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
---

<BaseLayout
  title={pages.home.title}
  description={pages.home.description}
  keywords={pages.home.keywords}
>
  <PageLayout heading={pages.home.heading}>
    <section class="space-y-12">
      <p class="leading-relaxed">
        I'm a <a href="/about">staff+ engineer</a> with a passion for the craft of
        software. I build systems engineers love and work that makes a lasting impact.
      </p>
    </section>

    <section>
      <p>
        I've worked across enough of the stack to know which parts are easy to
        get wrong and worth getting right.
      </p>
    </section>

    <section class="space-y-6">
      <p>
        <a href="/about">Learn about me</a> or see what I <a href="/uses">use</a
        > or check out my <a href="/blog">blog</a>.
      </p>
      <p>
        Connect via <a
          href={urls.GitHub}
          target="_blank"
          rel="noopener noreferrer">GitHub</a
        >, <a href={urls.LinkedIn} target="_blank" rel="noopener noreferrer"
          >LinkedIn</a
        >, or <a href={urls.email}>email</a>.
      </p>
    </section>
  </PageLayout>
</BaseLayout>
