---
import { pages } from "@/configs/pages";
import { techDaily, techLearning, techLove, titles } from "@/configs/tech";
import { urls } from "@/configs/urls";
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
---

<BaseLayout
  title={pages.home.title}
  description={pages.home.description}
  keywords={pages.home.keywords}
>
  <PageLayout heading={pages.home.heading}>
    <section class="space-y-6">
      <p>
        I build high-performance, scalable systems that are a joy for engineers
        to work with. I have a passion for the craft of creating software,
        blending hands-on coding with technical strategy. Along the way, I guide
        engineering teams, improve developer experience at scale, and design
        modern architectures that make a lasting impact across teams and
        products.
      </p>
    </section>

    <section class="space-y-2">
      <details class="collapse-arrow collapse border border-base-200">
        <summary class="collapse-title">{titles.love}</summary>
        <div class="collapse-content">
          <p>
            {
              techLove.flatMap((tech, index) => [
                <a
                  href={tech.link}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="inline-flex link items-center gap-1"
                >
                  <span class:list={[tech.icon, "hidden h-4 w-5 sm:inline"]} />
                  {tech.title}
                </a>,
                index < techLove.length - 1 && ", ",
              ])
            }
          </p>
        </div>
      </details>

      <details class="collapse-arrow collapse border border-base-200">
        <summary class="collapse-title">{titles.daily}</summary>
        <div class="collapse-content">
          <p>
            {
              techDaily.flatMap((tech, index) => [
                <a
                  href={tech.link}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="inline-flex items-center gap-1"
                >
                  <span class:list={[tech.icon, "hidden h-4 w-5 sm:inline"]} />
                  {tech.title}
                </a>,
                index < techDaily.length - 1 && ", ",
              ])
            }
          </p>
        </div>
      </details>

      <details class="collapse-arrow collapse border border-base-200">
        <summary class="collapse-title">{titles.learning}</summary>
        <div class="collapse-content">
          <p>
            {
              techLearning.flatMap((tech, index) => [
                <a
                  href={tech.link}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="inline-flex items-center gap-1"
                >
                  <span class:list={[tech.icon, "hidden h-4 w-5 sm:inline"]} />
                  {tech.title}
                </a>,
                index < techLearning.length - 1 && ", ",
              ])
            }
          </p>
        </div>
      </details>
    </section>

    <section class="space-y-6">
      <p>
        Find me on
        <a href={urls.GitHub} target="_blank" rel="noopener noreferrer">
          GitHub</a
        > and <a href={urls.LinkedIn} target="_blank" rel="noopener noreferrer"
          >LinkedIn</a
        >, email me at <a href={urls.email}>hi@jimmy.codes</a>, or check out my <a
          href="/blog">blog</a
        >.
      </p>
    </section>
  </PageLayout>
</BaseLayout>
