---
import { pages } from "../configs/pages";
import { techDaily, techLearning, techLove, titles } from "../configs/tech";
import BaseLayout from "../layouts/BaseLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<BaseLayout
  title={pages.home.title}
  description={pages.home.description}
  keywords={pages.home.keywords}
>
  <PageLayout heading={pages.home.heading}>
    <section class="space-y-6">
      <p>
        I build high-performance, scalable systems that are a joy for engineers
        to work with. I have a passion for the craft of creating software,
        blending hands-on coding with technical strategy. Along the way, I guide
        engineering teams, improve developer experience at scale, and design
        modern architectures that make a lasting impact across teams and
        products.
      </p>
    </section>

    <section class="space-y-4">
      <p>
        <span>{titles.love}:</span>
        {
          techLove.map((tech, index) => (
            <>
              <a
                href={tech.link}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex link items-center gap-1 link-hover"
              >
                <span class:list={[tech.icon, "w-5] hidden h-4 sm:inline"]} />
                {tech.title}
              </a>
              {index < techLove.length - 1 && (
                <span class="align-top"> • </span>
              )}
            </>
          ))
        }
      </p>

      <p>
        <span>{titles.daily}:</span>
        {
          techDaily.map((tech, index) => (
            <>
              <a
                href={tech.link}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center gap-1 link-hover"
              >
                <span class:list={[tech.icon, "w-5] hidden h-4 sm:inline"]} />
                {tech.title}
              </a>
              {index < techDaily.length - 1 && (
                <span class="align-top"> • </span>
              )}
            </>
          ))
        }
      </p>

      <p>
        <span>{titles.learning}:</span>
        {
          techLearning.map((tech, index) => (
            <>
              <a
                href={tech.link}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center gap-1 link-hover"
              >
                <span class:list={[tech.icon, "w-5] hidden h-4 sm:inline"]} />
                {tech.title}
              </a>
              {index < techLearning.length - 1 && (
                <span class="align-top"> • </span>
              )}
            </>
          ))
        }
      </p>
    </section>

    <section class="space-y-6">
      <p>
        Find me on <a
          href="https://github.com/jimmy-guzman"
          target="_blank"
          rel="noopener noreferrer"
          class="link-hover"
        >
          GitHub</a
        > and <a
          href="https://www.linkedin.com/in/jimmy-guzman-moreno"
          target="_blank"
          rel="noopener noreferrer"
          class="link-hover">LinkedIn</a
        >. Or email me at <a href="mailto:hi@jimmy.codes" class="link-hover"
          >hi@jimmy.codes</a
        >.
      </p>

      <p>
        Read <a href="/blog" class="link-hover">my blog</a>, learn more <a
          href="/about"
          class="link-hover">about me</a
        >, or take a look at <a href="/resume.pdf" download class="link-hover"
          >my resume</a
        >.
      </p>
    </section>
  </PageLayout>
</BaseLayout>
