---
import { getCollection } from "astro:content";
import { pages } from "@/configs/pages";
import { urls } from "@/configs/urls";
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { sortByPublishDate } from "@/utils/content";
import { shortTitle } from "@/utils/post";

const posts = await getCollection("posts");

const latestPost = posts.sort(sortByPublishDate)[0];
---

<BaseLayout
  title={pages.home.title}
  description={pages.home.description}
  keywords={pages.home.keywords}
>
  <PageLayout heading={pages.home.heading}>
    <section class="space-y-12">
      <p class="leading-relaxed">
        I'm a <a href="/about">staff+ engineer</a> with a passion for the craft of
        software. I build systems engineers love and that leave a lasting impact.
      </p>
    </section>

    <section>
      <p>
        <a href="/about">Learn about me</a>, see what I <a href="/uses">use</a>,
        or check out my <a href="/blog">blog</a>, starting with <a
          href={`/blog/${latestPost.id}`}
          rel="bookmark"
          data-astro-prefetch>{shortTitle(latestPost)}</a
        >.
      </p>
    </section>

    <section>
      <p>
        Reach me on <a
          href={urls.GitHub}
          target="_blank"
          rel="noopener noreferrer">GitHub</a
        >, <a href={urls.LinkedIn} target="_blank" rel="noopener noreferrer"
          >LinkedIn</a
        >, or by <a href={urls.email}>email</a>.
      </p>
    </section>
  </PageLayout>
</BaseLayout>
