---
import { getCollection } from "astro:content";

import MetaLine from "@/components/MetaLine.astro";
import { pages } from "@/configs/pages";
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { sortByPublishDate } from "@/utils/content";

const notes = (await getCollection("notes")).sort(sortByPublishDate);
---

<BaseLayout
  title={pages.notes.title}
  description={pages.notes.description}
  keywords={pages.notes.keywords}
>
  <PageLayout heading={pages.notes.heading}>
    <section class="not-prose">
      <ul class="flex flex-col gap-y-4">
        {
          notes.map((note) => (
            <li class="space-y-0.5">
              <a
                href={`/notes/${note.slug}`}
                class="link font-medium link-hover"
                rel="bookmark"
                data-astro-prefetch
              >
                {note.data.title}
              </a>
              <MetaLine
                class="block text-sm text-base-content/60"
                publishDate={note.data.publishDate}
                filePath={note.filePath}
              />
            </li>
          ))
        }
      </ul>
    </section>
  </PageLayout>
</BaseLayout>
