---
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
import { formatDate } from "../utils/md";
import PageLayout from "../layouts/PageLayout.astro";

const notes = (await getCollection("notes")).sort(
  (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime(),
);

const title = "Notes";
const description =
  "Notes on the craft of building software, architecture, system design, code, and developer experience.";
const keywords = [
  "jimmy guzman notes",
  "technical notes",
  "software architecture",
  "developer experience",
  "web development",
  "mentorship",
];
---

<BaseLayout
  title={`jimmy.codes | ${title}`}
  description={description}
  keywords={keywords}
>
  <PageLayout heading={title}>
    <section class="not-prose">
      <ul class="flex flex-col gap-y-4">
        {
          notes.map((note) => (
            <li class="space-y-0.5">
              <a
                href={`/notes/${note.slug}`}
                class="link font-medium link-hover"
                data-astro-prefetch
              >
                {note.data.title}
              </a>
              <span class="block text-sm text-base-content/60">
                <time datetime={note.data.publishDate.toISOString()}>
                  {formatDate(note.data.publishDate)}
                </time>
                {note.data.updatedDate && (
                  <>
                    {" "}
                    •
                    <time datetime={note.data.updatedDate.toISOString()}>
                      Updated {formatDate(note.data.updatedDate)}
                    </time>
                  </>
                )}
              </span>
            </li>
          ))
        }
      </ul>
    </section>
  </PageLayout>
</BaseLayout>
