---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
import { formatDate } from "../utils/md";

const notes = (await getCollection("notes")).sort(
  (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime(),
);

const title = "jimmy.codes | Notes";
const description =
  "Notes on the craft of building software, architecture, system design, code, and developer experience.";
---

<Layout title={title} description={description} keywords={[]}>
  <main
    class="flex-1 mx-auto w-full max-w-3xl px-4 py-12 space-y-8 flex flex-col items-start [view-transition-name:main]"
  >
    <section class="prose xl:prose-lg">
      <h1 class="[view-transition-name:title]">Notes</h1>
      <blockquote class="not-italic text-base-content/80">
        {description}
      </blockquote>
      <div class="not-prose">
        <ul class="flex flex-col gap-y-4">
          {
            notes.map((note) => (
              <li class="space-y-0.5">
                <a
                  href={`/notes/${note.slug}`}
                  class="link link-hover font-medium"
                  data-astro-prefetch
                >
                  {note.data.title}
                </a>
                <span class="block text-sm text-base-content/60">
                  <time datetime={note.data.publishDate.toISOString()}>
                    {formatDate(note.data.publishDate)}
                  </time>
                  {note.data.updatedDate && (
                    <>
                      {" "}
                      •
                      <time datetime={note.data.updatedDate.toISOString()}>
                        Updated {formatDate(note.data.updatedDate)}
                      </time>
                    </>
                  )}
                </span>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</Layout>
