---
import { prettyDate } from "../utils/content";

interface Props {
  publishDate: Date;
  updatedDate?: Date;
  filePath?: string;
  minutes?: number;
  class?: string;
}

const { publishDate, minutes, filePath, class: className = "" } = Astro.props;

const REPO = "jimmy-guzman/jimmy.codes";
const BRANCH = "main";
---

<span class:list={[className, "flex items-center justify-between"]}>
  <span class="inline-flex items-center gap-2">
    <time datetime={publishDate.toISOString()}>{prettyDate(publishDate)}</time>
    {
      typeof minutes === "number" && (
        <>
          <span aria-hidden="true">•</span>
          <span>{minutes === 1 ? "1 min read" : `${minutes} mins read`}</span>
        </>
      )
    }
  </span>

  {
    filePath && (
      <span class="tooltip" data-tip="View on GitHub">
        <a
          href={`https://github.com/${REPO}/blob/${BRANCH}/${filePath}`}
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-circle btn-ghost"
        >
          <span class="sr-only">View on GitHub</span>
          <span
            class="icon-[simple-icons--github] h-4 w-4"
            aria-hidden="true"
          />
        </a>
      </span>
    )
  }
</span>
