---
interface Props {
  title: string;
  description: string;
  keywords: readonly string[];
  noIndex?: boolean;
  ogImage?: string;
  ogType?: "website" | "article";
  article?: {
    publishedTime: Date;
    modifiedTime: Date;
    tags: readonly string[];
  };
}

const {
  title,
  description,
  keywords,
  noIndex,
  ogImage,
  ogType = "website",
  article,
} = Astro.props;

const site = Astro.site;
const url = new URL(Astro.url, site).toString();
const ogImageUrl = ogImage
  ? new URL(ogImage, site).toString()
  : new URL("/og/default.png", site).toString();
const ogAlt = "jimmy.codes - Jimmy Guzman Moreno";
---

{noIndex && <meta name="robots" content="noindex, follow" />}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<meta name="description" content={description} />
<meta name="keywords" content={keywords.join(", ")} />
<meta name="author" content="Jimmy Guzman Moreno" />

<meta property="og:type" content={ogType} />
<meta property="og:site_name" content="jimmy.codes" />
<meta property="og:locale" content="en_US" />
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImageUrl} />
<meta property="og:image:alt" content={ogAlt} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:type" content="image/png" />

{
  article && (
    <>
      <meta
        property="article:published_time"
        content={article.publishedTime.toISOString()}
      />
      <meta
        property="article:modified_time"
        content={article.modifiedTime.toISOString()}
      />
      {article.tags.map((tag) => (
        <meta property="article:tag" content={tag} />
      ))}
    </>
  )
}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content={url} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={ogImageUrl} />
<meta name="twitter:image:alt" content={ogAlt} />

<link rel="canonical" href={url} />
<title>{title}</title>
