---
import { FATHOM_SITE_ID } from "astro:env/client";

import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

import "../styles/global.css";
import { Font } from "astro:assets";

interface Props {
  title: string;
  description: string;
  keywords: string[];
}

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords.join(", ")} />
    <meta name="author" content="Jimmy Guzman Moreno" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="jimmy.codes" />

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <link rel="canonical" href={Astro.url} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <script
      is:inline
      src="https://cdn.usefathom.com/script.js"
      data-site={FATHOM_SITE_ID}
      defer></script>
    <Font cssVariable="--font-satoshi" preload />
    <style>
      html {
        font-family: var(--font-satoshi), system-ui, sans-serif;
      }
    </style>
  </head>
  <body class="flex min-h-dvh flex-col justify-between px-4" tabindex="-1">
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
