---
import { Font } from "astro:assets";
import { FATHOM_SITE_ID } from "astro:env/client";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import Seo from "../components/Seo.astro";
import "../styles/global.css";
import ThemeScript from "@/components/ThemeScript.astro";

interface Props {
  title: string;
  description?: string;
  keywords?: readonly string[];
  noIndex?: boolean;
}

const { title, description, keywords, noIndex } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth motion-reduce:scroll-auto">
  <head>
    <Seo
      title={title}
      description={description}
      keywords={keywords}
      noIndex={noIndex}
    />
    <ThemeScript />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
    <meta name="generator" content={Astro.generator} />

    <script
      is:inline
      src="https://cdn.usefathom.com/script.js"
      data-site={FATHOM_SITE_ID}
      defer></script>

    <Font cssVariable="--font-satoshi" preload />
    <style>
      html {
        font-family: var(--font-satoshi), system-ui, sans-serif;
      }
    </style>
  </head>
  <body class="flex min-h-dvh flex-col justify-between px-4" tabindex="-1">
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
