---
import { FATHOM_SITE_ID } from "astro:env/client";

import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

import "../styles/global.css";
import { Font } from "astro:assets";

interface Props {
  title: string;
  description?: string;
  keywords?: readonly string[];
  noIndex?: boolean;
}

const { title, description, keywords, noIndex } = Astro.props;

const site = Astro.site;
const url = new URL(Astro.url, site).toString();
const ogAlt = "jimmy.codes - Jimmy Guzman Moreno";
const ogImage = new URL("/og/default.png", site).toString();
---

<!doctype html>
<html lang="en" class="scroll-smooth motion-reduce:scroll-auto">
  <head>
    {noIndex && <meta name="robots" content="noindex, follow" />}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    {description && <meta name="description" content={description} />}
    {keywords && <meta name="keywords" content={keywords.join(", ")} />}
    <meta name="author" content="Jimmy Guzman Moreno" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="jimmy.codes" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    {description && <meta property="og:description" content={description} />}
    <meta property="og:image" content={ogImage} />
    <meta property="og:image:alt" content={ogAlt} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    {description && <meta name="twitter:description" content={description} />}
    <meta name="twitter:image" content={ogImage} />
    <meta name="twitter:image:alt" content={ogAlt} />

    <link rel="canonical" href={url} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <script
      is:inline
      src="https://cdn.usefathom.com/script.js"
      data-site={FATHOM_SITE_ID}
      defer></script>

    <Font cssVariable="--font-satoshi" preload />

    <style>
      html {
        font-family: var(--font-satoshi), system-ui, sans-serif;
      }
    </style>
  </head>
  <body class="flex min-h-dvh flex-col justify-between px-4" tabindex="-1">
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
