---
import Tags from "@/components/Tags.astro";
import LastModified from "../components/LastModified.astro";
import MetaLine from "../components/MetaLine.astro";

import "rehype-callouts/theme/github";

interface Props {
  tags: string[];
  publishDate: Date;
  updatedDate?: Date;
  back: { href: `/${string}`; label: string };
  minutes?: number;
  filePath?: string;
}

const { publishDate, updatedDate, back, minutes, filePath, tags } = Astro.props;
---

<section>
  <p class="text-sm">
    <MetaLine publishDate={publishDate} minutes={minutes} filePath={filePath} />
  </p>
</section>

<div class="divider" aria-hidden="true" role="presentation"></div>

<section>
  <article class="prose-a:hover:no-underline">
    <slot />
  </article>
</section>

<section class="mt-8">
  <Tags tags={tags} />
</section>

<a
  href="#"
  class="btn fixed right-6 bottom-6 btn-circle shadow-lg btn-ghost btn-primary"
  aria-label="Back to top"
>
  <span class="icon-[lucide--arrow-up] h-4 w-4" aria-hidden="true"></span>
</a>

{
  updatedDate && (
    <section class="mt-8 flex justify-end text-sm text-base-content/60">
      <LastModified updatedDate={updatedDate} />
    </section>
  )
}

<section class="mt-8">
  <p>
    <a
      href={back.href}
      class="inline-flex items-center gap-1 text-base-content/60 link-hover"
      rel="up"
    >
      <span class="icon-[lucide--arrow-left]" aria-hidden="true"></span>
      {back.label}
    </a>
  </p>
</section>
